{% extends 'base.html' %}
{% block title %}
  Избранные посты
{% endblock title %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    {% if user.is_authenticated %} 
      {% include 'posts/includes/switcher.html' with follow=True %}   
    {% endif %}    
    <h1>Избранные посты.</h1>
    {% load cache %}
    {% cache 20 index_page %}
      {% for post in page_obj %}
        {% include 'posts/includes/post_items.html' %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    {% endcache %} 
  </div>
{% endblock content %}